body {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  margin: 0;
}

/* header */

/* navbar */

/* nav{
  postion: absolute
} */

.full-height {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.main-content {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 350px;
  text-align: center;
}

img.logo {
  position: absolute;
  left: 1rem;
  top: 1rem;
  animation-delay: .5s;
}

img.logo-sz {
  margin: 0 auto;
  height: 120px;
  padding-top: 2rem;
  animation-delay: 1.2s;
}

.about-list {
  margin: 0 !important;
  padding: 5.75rem 0;
  list-style-type: none;
  animation-delay: 2s;
}

.about-items {
  display: inline-block;
  /* padding: 0 1rem; */
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
}

.about-items-text {
  margin: 0.875rem 1.125rem;
}

h4#copyright-text {
  margin: 0;
}

.phone-links-menu {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  animation-delay: 3.4s;
}

.phone-links-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.share-links-menu{
  animation-delay: 2.8s
}
.share-links-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.share-links-list li {
  display: inline-block;
  padding: 0 .8rem;
}

.copyright {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  animation-delay: 4s;
}

.share-links-items {
  list-style: none;
}

.md-block {
  display: block !important;
}

.fa {
  font-size: 20px;
  color: #000;
  opacity: 0.6;
}

.fa.fa-phone {
  font-size: 30px;
  color: #000;
  opacity: 0.6;
}

.fa:hover {
  transition: all 0.5s ease;
  opacity: 1;
}

.frankfurt-bg {
  position: absolute;
  bottom: 0;
  z-index: -10;
}

.frankfurt-bg img {
  margin-left: auto;
  margin-right: auto;
}

/* main */

/*MEDIA QUERIES*/

@media only screen and (max-width: 320px) {
  img.logo-sz {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
  }
  h5.heading {
    font-size: 0.7rem;
  }
}

/* iPhone 4/5/6/6 plus */

@media only screen and (min-width: 320px) and (max-width: 768px) {
  img.logo-sz {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
  }
  .about-items {
    display: inline-block;
    /* padding: 0 1rem; */
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.05rem;
  }
}

/* iPad / iPad Pro*/

@media only screen and (min-width: 768px) and (max-width: 1366px) {
  img.logo-sz {
    margin-left: auto;
    margin-right: auto;
    height: 100px;
  }
}

/*FIX Section Heading*/

@media only screen and (max-width: 992px) {}

@media only screen and (min-width: 1366px) {}